<div id="delete-modal">
  <div class="modal-content">
    <div class="header">
        Are you sure you want to delete this post?
    </div>

    <form action="" method="POST" id="post-delete-form">
      <div class="button-group">
        <button type="submit" class="confirm-btn">Confirm</button>
        <button type="button" class="cancel-btn">Cancel</button>
      </div>
    </form>
  </div>
</div>
