<div class="welcome-container">
  <p class="welcome-user">Welcome back, <%= user?.fullname || "Guest"%>!</p>
  <a href="/post" class="new-post-link">New post</a>
  <p class="welcome-text">Take a look at the most recent posts below</p>
</div>
