<div class="welcome-container">
  <p class="welcome-user">Welcome back, <%= user?.fullname || "Guest"%>!</p>
  <div class="new-post">
  <a href="/post" class="new-post-link">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus-icon lucide-plus"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
  </a>
  </div>
  <p class="welcome-text">Take a look at the most recent posts below</p>
</div>
