<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-In</title>
</head>
<body>
    <h1>mister pepe julian ozima, should i call u mister?</h1>
    <div class="form-container">
        <form action="/sign-in" method="POST">
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" name="username" placeholder="Insert username">
            </div>

            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="Insert password">
            </div>

            <div class="button-group">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</body>
</html>