<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/default.css">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Membership</title>
  </head>
  <body>
    <div class="container">
      <%- include("../header") %>
      <%- include("./member-header") %>
      <% if (user?.role_id === 2 || user?.role_id === 3) { %>
      <div class="member-status">✅ You're already a member</div>
      <% } else { %>
      <div class="member-status">
        ❌ You're not a member yet.

        <% if (locals.error) { %>
            <div class="error-text">
                <%= error %>
            </div>
        <% } %>

        <form action="/member" method="POST">
            <input type="password" name="secret_password" placeholder="Enter secret passcode" required>
            <button type="submit">Become a member</button>
        </form>
      </div>
      <% } %>
    </div>
  </body>
</html>
