<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/default.css" />
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/edit.css">
    <link rel="stylesheet" href="/styles/post-form.css">
    <title>Edit Post</title>
  </head>
  <body>
    <div class="container">
      <%- include("../header") %> 
      <%- include("./edit-header") %>
      <%- include('./edit-form') %>
    </div>
  </body>
</html>
