#delete-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: var(--bg-alt);
  padding: 3rem;
  border-radius: 16px;
  text-align: center;
  max-width: 480px;
}

#delete-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

.confirm-btn{
  background: #d9534f;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 8px;
  transition: all 0.3s ease;
}

.confirm-btn:hover {
  background: #963935;
}

.cancel-btn {
  background: #aaa;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cancel-btn:hover {
  background: #777;
}

.confirm-btn {
  margin-top: 12px;
}