.main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-height: 780px;
    overflow-y: scroll;
}

.post-container {
    background-color: var(--bg-alt);
    padding: 24px;
    border-radius: 12px;
}

.post-title {
    font-size: 1.3rem;
    font-weight: 600;
    padding-bottom: 8px;
}

.post-content {
    font-size: 1rem;
    color: rgb(200, 200, 200);
}