.main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-height: 780px;
    overflow-y: scroll;
}

.welcome-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.new-post-link {
    justify-self: end;
}

.post-container {
    background-color: var(--bg-alt);
    padding: 24px;
    border-radius: 12px;
}

.post-header {
    display: flex;
    justify-content: space-between;
}

.post-title {
    font-size: 1.3rem;
    font-weight: 600;
    padding-bottom: 6px;
}

.post-content {
    font-size: .9rem;
    color: rgb(200, 200, 200);
    padding-bottom: 18px;
}

.post-footer {
    display: flex;
    justify-content: space-between;
}

.post-author, .post-date {
    color: var(--accent);
    font-size: .8rem;
    background-color: var(--darker-gray);
    padding: 6px 14px;
    border-radius: 16px;
}

.admin-delete-button {
    background-color: var(--darker-gray);
    padding: 8px;
    border-radius: 24px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.admin-delete-button svg {
    stroke: var(--accent-darker);
}

.admin-delete-button:hover  {
    background-color: var(--bg);
}