input, textarea, button {
    background: none;
    border: none;
    color: rgb(133, 133, 133);
}

.welcome-container {
    padding-bottom: 30px;
}

.form-container {
    padding: 24px;
    border-radius: 12px;
    background-color: var(--bg-alt);
}

.form-container > form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input-group {
    padding: 12px;
    /* background-color: var(--darker-gray); */
    /* border-radius: 8px; */
}

.input-group.title{
    border-bottom: 1px solid var(--dark-gray);
}

.post-input, .post-textarea {
    font-size: .9rem;
    width: 100%;
}

.post-input:focus, .post-textarea:focus {
    outline: none;
}

.post-textarea {
    min-height: 140px;
    resize:none;
}

.button-group {
    display: flex;
    gap: 8px;
    align-items: center;
}

.reminder-text {
    flex: 1;
    display: flex;
    gap: 8px;
    align-items: center;

    font-size: .9rem;
    color: rgb(116, 116, 116);
}
.submit-button {
    cursor: pointer;
    background-color: var(--accent);
    padding: 8px 18px;
    border-radius: 24px;
    color: var(--bg);
    font-size: .9rem;
}

.cancel-button {
    cursor: pointer;
    background-color: var(--darker-gray);
    padding: 8px 18px;
    border-radius: 24px;
    color: rgb(156, 156, 156);
    font-size: .9rem;
}